@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin : 0;
    box-sizing: border-box;
    font-family: 'SEBANG_Gothic_Bold';
}

.con{
    background-color: #fff;
    width: 960px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    word-break:break-all;
}

h1{
    text-align: left;
    margin-bottom: 10px;
}

.header{
    text-align: center;
    margin: auto;
}

.con1{
    max-width: 960px;
    margin : auto;
    padding: 30px 0;
    text-align: center;
}

.find_btn{
    text-align: center;
    margin-top: 30px ;
    max-width: 960px;
}

a{
    text-decoration: none;
}

.btn{
    display :inline-block;
    background-color: #a273c2;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 3px;
    padding: 10px 15px;
    color: #fff;
}

.btn:hover{
    transition: .2s;
    border: 2px solid #000;
    color: #a273c2;
    background-color:  #fff;
    cursor: pointer;
}

table{
    background-color: #ffffff;
    width: 800px;
    border-collapse: collapse;
}

.table_head{
    background-color: #fdd1e6;
    color: #2861b8;
    font-size: 20px;
}

td,th,td{
    padding: 10px;
    border: 2px solid black;
}

.th_1{
    width: 150px;
}

.th_3{
    width: 250px;
}

body{
    background-image: url("../img/pattern.png");
    height: 100%;
}

.board_title{
    color: #000;
    text-decoration:none;
}
.board_title:hover{
    color: #8b34c5;
}

.footer{
    height: 70px;
    width: 100%;
    background-color: #fcfcfc;
    position : fixed;
    bottom: 0;
    text-align: center;
    line-height: 70px;
    font-size: 12px;
    color: #5a5a5a;
}
.inp, textarea{
    width: 80%;
    margin-bottom: 10px;
    background-color: #d3daff;
    border: none;
    resize: none;
    padding: 5px;
    outline: none;
}
.detail_t{
    margin-bottom: 10px;
}
.board_date{
    font-size: 12px;
    text-align: right;
}
.wd_h{
    text-align: start;
}
.detail_contents{
    height: 300px;
    text-align: start;
    background: #fff url("../img/folder.png") no-repeat right 3% bottom 10% / 20%;
}
label{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.lb_al *{
    vertical-align:middle;
}
#insert_btn{
    float: right;
}
p{
    white-space: pre-wrap;
}